<%- include("partials/header") %>

<div class="ui main container segment">
    <div class="new">
        <h1>Dashboard</h1>
        <button><a href="/products">All Products</a></button><br><br>
        <button><a href="/products/productattribute/home">Products attributes</a></button>
    </div>
   
</div>


<%- include("partials/footer") %>